<h1>Reviews for <%= @restaurant.name %></h1>

<% @reviews.each do |review| %>
  <div class="card mb-4 p-4">
    <%= "â­" * review.rating %><%= review.content %>
  </div>
<% end %>

<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>