<h1><%= "Add a Review for #{@restaurant.name}" %></h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, input_html: {min: 0, max:5, value:3} %>
  <%= f.input :content, input_html: { placeholder: "Type your review here..."} %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>